body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.navbar__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

#searchInput {
  background-color: black;
  color: white;
  border: 1px solid white;
  height: 40px;
  width: 200px;
  margin: 0 20px;
}

.navbar__link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 3%;
}

.navbar__logo {
  margin-left: auto;
  text-decoration: none;
  color: orange;
  font-size: 40px;
  font-weight: bold;
  background-image: linear-gradient(
    to bottom,
    rgba(212, 252, 255, 1) 0%,
    rgba(106, 225, 235, 1) 25%,
    rgba(0, 198, 215, 1) 50%,
    rgba(0, 159, 172, 1) 75%,
    rgba(0, 119, 129, 1) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.main__title {
  margin-top: 10px;
  display: flex;
  height: 25%;
  background-color: red;
  align-items: flex-end;
}

.title {
  color: white;
  font-size: 80px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 10px;
}

.main__carousel {
  display: flex;
  height: 20%;
  align-items: center;
  text-align: center;
}

.recommended__title {
  display: flex;
  height: 15%;
  align-items: flex-end;
}

.recommended {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.recommended__carousel {
  display: flex;
  height: 20%;
  align-items: center;
  text-align: center;
}

.carousel__images {
  width: 85%;
  border-radius: 10px;
}
