#searchInput {
  background: url(../images/search.png) no-repeat scroll 7px 7px;
  background-size: 30px;
  padding-left: 50px;
  background-color: black;
  color: white;
  border: 1px solid white;
  height: 40px;
  width: 190px;
  margin: 0 2.5%;
  transition: 0.4s ease-in-out;
}

#searchInput:focus {
  width: 400px;
}

.navbar__container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100%;
}

.navbar__link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 3%;
  transition: 0.3s ease-in-out;
}

.navbar__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.navbar__logo {
  margin-left: auto;
  margin-right: 2.5%;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  background-image: linear-gradient(
    to bottom,
    rgba(212, 252, 255, 1) 0%,
    rgba(106, 225, 235, 1) 25%,
    rgba(0, 198, 215, 1) 50%,
    rgba(0, 159, 172, 1) 75%,
    rgba(0, 119, 129, 1) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.navbar__logo:hover {
  opacity: 0.6;
}
