.results__container {
  color: white;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.results__element {
  height: 25vh;
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.results__image {
  width: 30%;
  text-align: center;
}

.results__inner {
  width: 70%;
  display: flex;
}

.title__inner {
  display: flex;
  flex-direction: column;
}

.results__title {
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: bolder;
}

.results__description {
  font-size: 15px;
}