.main__carousel {
  height: 23%;
  align-items: center;
  text-align: center;
}

.recommended__carousel {
  height: 20%;
  align-items: center;
  text-align: center;
}

.carousel__images {
  padding: 30px;
  width: 80%;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.container {
  position: relative;
}

.container button {
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 90%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  transition: opacity 0.2s ease-out;
}

.container:hover .carousel__images {
  transform: scale(1.2);
}

.container:hover button {
  opacity: 1;
  transition: opacity 1s ease;
}

.container .inner__title {
  opacity: 0;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
  width: 90%;
  font-size: 160%;
  font-weight: bold;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);
  transition: opacity 0.2s ease-out;
}

.container:hover .inner__title {
  opacity: 1;
  transition: opacity 1s ease;
}
