.main__carousel {
  height: 23%;
  align-items: center;
  text-align: center;
}  

.recommended__carousel {
  height: 20%;
  align-items: center;
  text-align: center;
}

.carousel__images {
  width: 80%;
  border-radius: 4px;
}